.form-container {
    width: 100%;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 1rem 0;
    padding: var(--padding);
    box-sizing: border-box;
}

.form-container input, .form-container button {
    width: 100%;
    padding: var(--padding) 0;
}

@media screen and (min-width: 1000px) and (max-width: 1250px) {
    .form-container button {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .form-container {
        width: 100%;
        flex-direction: column;
        justify-items: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        margin: 0.5rem 0;
    }

    .form-container input, .form-container button {
        width: 100%;
    }
}