table, th, td{
    border: 1px solid var(--black);
    border-collapse: collapse;
}

th, td{
    text-align: center;
    padding: var(--padding);
}

th {
    background: var(--light-gray);
}

tr:nth-child(even){
    background-color: var(--info);
    color: var(--white);
}